<!DOCTYPE html>

<html>

<!--  =======================================  Head Start  =======================================  -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Portfolio</title>

    <link rel="stylesheet" href="../CSS/style-sheet.css">

    <link rel="icon" href="../Images/portfolio-icon.png">
</head>

<!--  =======================================  Head End  =======================================  -->

<!--  =======================================  Body Start  =======================================  -->

<body>

    <!--  =======================================  Navigation Start  =======================================  -->

    <header class="aside">

        <div class="logo">
            <a href="index.html">Takshil Thummar</a>
        </div>

        <div class="navi">
            <ul>

                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="service.html">Services</a></li>
                <li><a href="project.html">Projects</a></li>

                <li><a href="contact.html"><button class="nav-button">Connect With Me</button></a></li>

            </ul>
        </div>

    </header>

    <!--  =======================================  Navigation End  =======================================  -->

    <!--  =======================================  Home Start  =======================================  -->

    <section>
        <div class="about">

            <div class="title">
                <h1>About Me</h1>
                <hr>
            </div>

            <div class="about-content">

                <div class="left">

                    <h3>I am an fresher in DevOps Engineer. To work in an organization where i can make the best use of my technical and analytical skills, upgrade myself and effectively contribute skills towords the goals of the organization while being
                        resourceful innovative and flexible. I am a quick learner with a strong work ethic and a commitment to continuous improvement. Seeking an entry-level position where I can use my skills and knowledge to help a company grow its brand
                        and reach its target audience.
                    </h3>

                    <hr>

                    <h3>I have embarked on an exciting journey into the world of DevOps, where I am blending my passion for technology with my love for solving complex problems. My fascination with DevOps began with its promise of unifying development and
                        operations to streamline workflows, enhance collaboration, and accelerate delivery. During my initial foray into the field, I’ve immersed myself in learning essential tools and practices such as Docker for containerization, Jenkins
                        for continuous integration, and Kubernetes for orchestration.
                    </h3>

                </div>

                <div class="skills">

                    <div class="skill-item">
                        <h5>Java</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 79%;"></div>
                            <div class="skill-percent">79%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Python</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 89%;"></div>
                            <div class="skill-percent">89%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>OS (Linux, Windows)</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 96%;"></div>
                            <div class="skill-percent">96%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Git</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 95%;"></div>
                            <div class="skill-percent">95%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Docker</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 96%;"></div>
                            <div class="skill-percent">96%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Jenkins (CI/CD)</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 93%;"></div>
                            <div class="skill-percent">93%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Kubernetes</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 90%;"></div>
                            <div class="skill-percent">90%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Terraform</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 89%;"></div>
                            <div class="skill-percent">89%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Chef</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 98%;"></div>
                            <div class="skill-percent">98%</div>
                        </div>
                    </div>

                    <div class="skill-item">
                        <h5>Ansible</h5>
                        <div class="progress">
                            <div class="progress-in" style="width: 92%;"></div>
                            <div class="skill-percent">92%</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!--  =======================================  Home End  =======================================  -->

    <!--  =======================================  Footer Start  =======================================  -->

    <footer>
        <div class="footer">

            <div class="footer-content">

                <div class="footer-section">
                    <div class="logo">
                        <a href="index.html">Takshil Thummar</a>
                    </div>
                </div>

                <div class="footer-section">
                    <h2>Contact Me</h2>
                    <p>Email : <a href="mailto:takshilthummar.career@gmail.com">takshilthummar.career@gmail.com</a></p>
                    <p>Phone : +91 63524 70455</p>
                </div>

                <div class="footer-section">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="project.html">Projects</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>

                <div class="footer-section">
                    <h2>Follow Me</h2>
                    <ul>
                        <li>
                            <a href="https://github.com/TakshilThummar" target='_blank'>GitHub</a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/takshil-thummar-158a51303" target='_blank'>LinkedIn</a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/takshil__thummar/" target='_blank'>Instagram</a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/takshil.thummar.12" target='_blank'>Facebook</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="footer-bottom">
                <p>Copyright 2024 &copy; <span id="year"></span> Takshil Thummar. All rights reserved.</p>
            </div>

        </div>
    </footer>

    <!--  =======================================  Footer End  =======================================  -->

</body>

<!--  =======================================  Body End  =======================================  -->

</html>